<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Inter:wght@400;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./reset.css"/>
  <link rel="stylesheet" href="./style.css"/>
  <title>Artopia</title>
</head>
<body>
  <header class="header">
    <div class="header-inner">
      <nav class="header-nav">
        <h1 class="logo">Artopia</h1>
        <ul class="header-nav-list">
          <li class="header-nav-list-element">
            <a class="purple-accent" href="#">Discover</a>
          </li>
          <li class="header-nav-list-element">
            <a class="purple-accent" href="#">Forum</a>
          </li>
          <li class="header-nav-list-element">
            <a class="purple-accent" href="#">News</a></li>
          <li class="header-nav-list-element">
            <a class="purple-accent" href="#">Blog</a></li>
        </ul>
        <span class="header-sign-in"><a href="#">Sign In</a></span>
      </nav>
      <section class="header-bio">
        <img class="header-img" src="../assets/header-img-1.png" alt="#"/>
        <img class="header-img" src="../assets/header-img-2.png" alt="#"/>
        <div class="bio-description">
          <h2>Buy and Sell Digital Arts</h2>
          <p>The world's largest online marketplace of online digital art</p>
          <a class="purple-accent" href="#">Explore</a>
          <table>
            <tr>
              <td>999,000</td>
              <td>2,000</td>
              <td>10,000</td>
            </tr>
            <tr>
              <td>Digital art file</td>
              <td>Art Seller</td>
              <td>Buyer</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
    
  </header>
</body>
</html>